- include_stylesheet 'admin/comments/page_field'

%tr.comments
  %th.label= t("comments")
  %td
    = check_box "page", "enable_comments"
    %label{ :for => "page_enable_comments" }
      = t("allow_comments_on_page")

- if @page.comments_count > 0
  %tr.comments
    %th.label= t("moderate")
    %td
      = link_to t('moderate_comments'), admin_page_comments_path(:page_id => @page.id)
