%tr.comment_row
  %td.name= link_to escape_once(truncate(comment.content, :length => 70)), edit_admin_comment_path(comment)
  - unless @page
    %td.page= truncate comment.page.title, :length => 40
  %td.date= comment.created_at.strftime("%D")
  %td.author= mail_to comment.author_email, escape_once(comment.author)
  %td.actions
    - if comment.approved?
      = link_to image("error") + " " + "Unapprove", unapprove_admin_comment_path(comment), :method => :put, :class => :action
    - else
      = link_to image("accept") + " " + "Approve", approve_admin_comment_path(comment), :method => :put, :class => "action approve"
    = link_to image('minus') + ' ' + t('remove'), admin_comment_path(comment), :method => :delete, :confirm => t('are_you_sure_you_want_to_delete_this_comment'), :class => :action
